header{
    padding: 4px 16px;
    width: 100%;

    img{
        width: 32px;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

footer{
    padding: 4px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-input{
    width: 150px;
}

.search-overlay{
    display: none;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.image-container{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 130px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.286);
    border-radius: 8px;
    
}

.pokemon-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.pokemon-card-details{
    display: flex;
    justify-content: start;
    align-items: center;
}

.pokemon-card-image{
    height: 64px;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 34px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 4px;
}

.type-fake{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 34px;
    padding: 4px;
}

.overlay{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.266);
}

.big-card{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}

.big-card_image-background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-card-image{
    width: 100px;
}

.big-card_bottom{
    width: 100%;
    height: 100%;
    nav{
        width: 100%;
    }
}

.big-card-details{
    width: 100%;
    height: 100%;
}

.ul_big-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        cursor: pointer;
    }
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.stats-card{
    height: 100%;
    width: 100%;
}

.more-button{
    margin: 24px;
}

.stats-card{
    padding: 8px;
}

.stats-line{
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats-line-left{
    width: 130px;
}

.progress{
    width: 120px;
}